<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.ktm.mt.mapper.CsSecurityUserMapper" >
  <resultMap id="BaseResultMap" type="cn.com.ktm.mt.model.bean.CsSecurityUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="expiryDate" property="expiryDate" jdbcType="TIMESTAMP" />
    <result column="locked" property="locked" jdbcType="BIT" />
    <result column="credentialExpiryDate" property="credentialExpiryDate" jdbcType="TIMESTAMP" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="avatar" property="avatar" jdbcType="INTEGER" />
    <result column="loginName" property="loginName" jdbcType="VARCHAR" />
    <result column="mobilePhoneNo" property="mobilePhoneNo" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="SMALLINT" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="lastModifiedUser" property="lastModifiedUser" jdbcType="INTEGER" />
    <result column="lastModifiedTime" property="lastModifiedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userName, password, expiryDate, locked, credentialExpiryDate, enabled, avatar, 
    loginName, mobilePhoneNo, email, createDate, deleted, creator, lastModifiedUser, 
    lastModifiedTime,shopId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cs_security_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cs_security_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.ktm.mt.model.bean.CsSecurityUser" useGeneratedKeys="true" keyProperty="id">
    insert into cs_security_user (id, userName, password, 
      expiryDate, locked, credentialExpiryDate, 
      enabled, avatar, loginName, 
      mobilePhoneNo, email, createDate, 
      deleted, creator, lastModifiedUser, 
      lastModifiedTime,shopId)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{expiryDate,jdbcType=TIMESTAMP}, #{locked,jdbcType=BIT}, #{credentialExpiryDate,jdbcType=TIMESTAMP}, 
      #{enabled,jdbcType=BIT}, #{avatar,jdbcType=INTEGER}, #{loginName,jdbcType=VARCHAR}, 
      #{mobilePhoneNo,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{deleted,jdbcType=SMALLINT}, #{creator,jdbcType=INTEGER}, #{lastModifiedUser,jdbcType=INTEGER}, 
      #{lastModifiedTime,jdbcType=TIMESTAMP}, #{shopId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.ktm.mt.model.bean.CsSecurityUser" useGeneratedKeys="true" keyProperty="id">
    insert into cs_security_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        userName,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="expiryDate != null" >
        expiryDate,
      </if>
      <if test="locked != null" >
        locked,
      </if>
      <if test="credentialExpiryDate != null" >
        credentialExpiryDate,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="loginName != null" >
        loginName,
      </if>
      <if test="mobilePhoneNo != null" >
        mobilePhoneNo,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="createDate != null" >
        createDate,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="lastModifiedUser != null" >
        lastModifiedUser,
      </if>
      <if test="lastModifiedTime != null" >
        lastModifiedTime,
      </if>
      <if test="shopId != null">
        shopId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="expiryDate != null" >
        #{expiryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="locked != null" >
        #{locked,jdbcType=BIT},
      </if>
      <if test="credentialExpiryDate != null" >
        #{credentialExpiryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=BIT},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=INTEGER},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhoneNo != null" >
        #{mobilePhoneNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=SMALLINT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="lastModifiedUser != null" >
        #{lastModifiedUser,jdbcType=INTEGER},
      </if>
      <if test="lastModifiedTime != null" >
        #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.ktm.mt.model.bean.CsSecurityUser" >
    update cs_security_user
    <set >
      <if test="userName != null" >
        userName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="expiryDate != null" >
        expiryDate = #{expiryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="locked != null" >
        locked = #{locked,jdbcType=BIT},
      </if>
      <if test="credentialExpiryDate != null" >
        credentialExpiryDate = #{credentialExpiryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=INTEGER},
      </if>
      <if test="loginName != null" >
        loginName = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhoneNo != null" >
        mobilePhoneNo = #{mobilePhoneNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=SMALLINT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="lastModifiedUser != null" >
        lastModifiedUser = #{lastModifiedUser,jdbcType=INTEGER},
      </if>
      <if test="lastModifiedTime != null" >
        lastModifiedTime = #{lastModifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopId != null">
        shopId = #{shopId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.ktm.mt.model.bean.CsSecurityUser" >
    update cs_security_user
    set userName = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      expiryDate = #{expiryDate,jdbcType=TIMESTAMP},
      locked = #{locked,jdbcType=BIT},
      credentialExpiryDate = #{credentialExpiryDate,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=BIT},
      avatar = #{avatar,jdbcType=INTEGER},
      loginName = #{loginName,jdbcType=VARCHAR},
      mobilePhoneNo = #{mobilePhoneNo,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      createDate = #{createDate,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=SMALLINT},
      creator = #{creator,jdbcType=INTEGER},
      lastModifiedUser = #{lastModifiedUser,jdbcType=INTEGER},
      lastModifiedTime = #{lastModifiedTime,jdbcType=TIMESTAMP},
      shopId = #{shopId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByLoginNameAndPassword" resultMap="BaseResultMap" parameterType="cn.com.ktm.mt.model.security.request.LoginRequestVoBody" >
    select
    <include refid="Base_Column_List" />
    from cs_security_user
    where  loginName = #{loginName,jdbcType=VARCHAR}
    AND  password = #{password,jdbcType=VARCHAR}
  </select>
  <select id="selectByUserIdAndPassword" resultMap="BaseResultMap" parameterType="cn.com.ktm.mt.model.security.request.ResetPassRequestVoBody" >
    select
    <include refid="Base_Column_List" />
    from cs_security_user
    where id = #{id,jdbcType=INTEGER}
    AND password = #{password,jdbcType=VARCHAR}
  </select>
  <update id="updateUserById" parameterType="java.lang.Integer" >
    update cs_security_user
    set
      password = #{password,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectUserListByCondition" resultType="cn.com.ktm.mt.model.security.response.FindSecurityUserListResModel" parameterType="cn.com.ktm.mt.model.security.request.user.FindSecurityUserListReqBody" >
    SELECT csu.id userId,csu.userName userName,csu.loginName loginName,csu.mobilePhoneNo mobilePhoneNo,csu.email email,csu.expiryDate expiryDate,csu.createDate,csu.enabled enabled,csu.locked locked,csr.id roleId,csr.`name` as roleName
    FROM  cs_security_user csu
    LEFT JOIN cs_security_user_role csur ON csu.id = csur.userid
    LEFT JOIN cs_security_role csr ON csur.roleid = csr.id
    where shopId = #{shopId,jdbcType=VARCHAR}
      <if test="searchKey !=null">
        <if test="searchKey =='userName'">
          and userName = #{searchContent,jdbcType=VARCHAR}
        </if>
        <if test="searchKey == 'loginName'">
          and loginName = #{searchContent,jdbcType=VARCHAR}
        </if>
        <if test="searchKey == 'mobilePhoneNo'">
          and mobilePhoneNo = #{searchContent,jdbcType=VARCHAR}
        </if>
        <if test="searchKey == 'email'">
          and email = #{searchContent,jdbcType=VARCHAR }
        </if>
        <if test="searchKey == 'roleName'">
          and csr.`name` = #{searchContent,jdbcType=VARCHAR}
        </if>
      </if>
  </select>
  <update id="updateUserLockById" parameterType="java.lang.Integer" >
    update cs_security_user
    set
      locked = #{locked,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateUserEnabledById" parameterType="java.lang.Integer" >
    update cs_security_user
    set
      enabled = #{enabled,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>