<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.ktm.mt.mapper.OrganizationMapper">
    <resultMap id="BaseResultMap"
               type="cn.com.ktm.mt.model.entity.OrganizationEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="contactName" property="contactName" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="regName" property="regName" jdbcType="VARCHAR"/>
        <result column="regCode" property="regCode" jdbcType="VARCHAR"/>
        <result column="regCodeFile" property="regCodeFile" jdbcType="VARCHAR"/>
        <result column="verifiedTime" property="verifiedTime" jdbcType="BIGINT"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="refundScale" property="refundScale" jdbcType="INTEGER"/>
        <result column="auditStatus" property="auditStatus" jdbcType="INTEGER"/>
        <result column="createUser" property="createUser" jdbcType="BIGINT"/>
        <result column="createTime" property="createTime" jdbcType="BIGINT"/>
        <result column="updateUser" property="updateUser" jdbcType="BIGINT"/>
        <result column="updateTime" property="updateTime" jdbcType="BIGINT"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="isDelete" property="isDelete" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>

        <result column="cardNo" property="cardNo" jdbcType="VARCHAR"/>
        <result column="orgSub" property="orgSub" jdbcType="VARCHAR"/>
        <result column="orgCode" property="orgCode" jdbcType="VARCHAR"/>
        <result column="orgCodeFile" property="orgCodeFile" jdbcType="VARCHAR"/>
        <result column="licenseFile" property="licenseFile" jdbcType="VARCHAR"/>
        <result column="introFile" property="introFile" jdbcType="VARCHAR"/>
        <result column="isSign" property="isSign" jdbcType="INTEGER"/>
        <result column="signScale" property="signScale" jdbcType="INTEGER"/>
        <result column="signValidDate" property="signValidDate" jdbcType="BIGINT"/>
        <result column="contactFile" property="contactFile" jdbcType="VARCHAR"/>
        <result column="orgAddress" property="orgAddress" jdbcType="VARCHAR"/>
        <result column="isSupportNotRealName" property="isSupportNotRealName" jdbcType="INTEGER"/>
        <result column="renewStatus" property="renewStatus" jdbcType="INTEGER"/>
        <result column="freeFrozenTag" property="freeFrozenTag" jdbcType="INTEGER"/>
        <result column="frozenBeginDate" property="frozenBeginDate" jdbcType="INTEGER"/>
        <result column="frozenEndDate" property="frozenEndDate" jdbcType="INTEGER"/>
        <result column="policyFiles" property="policyFiles" jdbcType="VARCHAR"/>
        <result column="subOrgFiles" property="subOrgFiles" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, regName, contactName, phone, regCode, regCodeFile, verifiedTime, email, type, refundScale,
        auditStatus, createUser, createTime, updateUser, updateTime, ip, status, isDelete,
        remark, cardNo, orgSub, orgCode, orgCodeFile, licenseFile, introFile, isSign, signScale, signValidDate,
        contactFile, orgAddress, isSupportNotRealName, renewStatus, freeFrozenTag, frozenBeginDate, frozenEndDate,
        policyFiles,subOrgFiles,password
    </sql>

    <insert id="insertSelective"
            parameterType="cn.com.ktm.mt.model.entity.OrganizationEntity">
        <selectKey resultType="java.lang.Long" keyProperty="id">
            SELECT
            LAST_INSERT_ID() AS id
        </selectKey>

        INSERT INTO t_organization
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="contactName != null and contactName!=''">
                contactName,
            </if>
            <if test="phone != null and phone!=''">
                phone,
            </if>
            <if test="regCode != null and regCode!=''">
                regCode,
            </if>

            <if test="regName != null and regName!=''">
                regName,
            </if>
            <if test="regCodeFile != null and regCodeFile!=''">
                regCodeFile,
            </if>
            <if test="verifiedTime != null">
                verifiedTime,
            </if>
            <if test="email != null and email!=''">
                email,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="auditStatus != null">
                auditStatus,
            </if>
            <if test="refundScale != null">
                refundScale,
            </if>
            <if test="createUser != null">
                createUser,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="updateUser != null">
                updateUser,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
            <if test="ip != null and ip!=''">
                ip,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="isDelete != null">
                isDelete,
            </if>
            <if test="remark != null and remark!=''">
                remark,
            </if>
            <if test="cardNo != null and cardNo !=''">
                cardNo,
            </if>
            <if test="orgSub != null and orgSub !=''">
                orgSub,
            </if>
            <if test="orgCode != null and orgCode !=''">
                orgCode,
            </if>
            <if test="orgCodeFile != null and orgCodeFile !=''">
                orgCodeFile,
            </if>
            <if test="licenseFile != null and licenseFile!=''">
                licenseFile,
            </if>
            <if test="introFile != null and introFile!=''">
                introFile,
            </if>
            <if test="isSign != null">
                isSign,
            </if>
            <if test="signScale != null">
                signScale,
            </if>
            <if test="contactFile != null and contactFile !=''">
                contactFile,
            </if>
            <if test="orgAddress != null and orgAddress !=''">
                orgAddress,
            </if>
            <if test="policyFiles != null and policyFiles !=''">
                policyFiles,
            </if>
            <if test="subOrgFiles != null and subOrgFiles !=''">
                subOrgFiles,
            </if>
            <if test="password != null and password !=''">
                password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="contactName != null and contactName!=''">
                #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone!=''">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="regCode != null and regCode!=''">
                #{regCode,jdbcType=VARCHAR},
            </if>

            <if test="regName != null and regName!=''">
                #{regName,jdbcType=VARCHAR},
            </if>
            <if test="regCodeFile != null and regCodeFile!=''">
                #{regCodeFile,jdbcType=VARCHAR},
            </if>
            <if test="verifiedTime != null">
                #{verifiedTime,jdbcType=INTEGER},
            </if>
            <if test="email != null and email!=''">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="auditStatus != null">
                #{auditStatus,jdbcType=INTEGER},
            </if>
            <if test="refundScale != null">
                #{refundScale,jdbcType=INTEGER},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="ip != null and ip!=''">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="remark != null and remark!=''">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="cardNo != null and cardNo !=''">
                #{cardNo,jdbcType=VARCHAR},
            </if>
            <if test="orgSub != null and orgSub !=''">
                #{orgSub,jdbcType=VARCHAR},
            </if>
            <if test="orgCode != null and orgCode !=''">
                #{orgCode,jdbcType=VARCHAR},
            </if>
            <if test="orgCodeFile != null and orgCodeFile !=''">
                #{orgCodeFile,jdbcType=VARCHAR},
            </if>
            <if test="licenseFile != null and licenseFile!=''">
                #{licenseFile,jdbcType=VARCHAR},
            </if>
            <if test="introFile != null and introFile!=''">
                #{introFile,jdbcType=VARCHAR},
            </if>
            <if test="isSign != null">
                #{isSign,jdbcType=INTEGER},
            </if>
            <if test="signScale != null">
                #{signScale,jdbcType=INTEGER},
            </if>
            <if test="contactFile != null and contactFile !=''">
                #{contactFile,jdbcType=VARCHAR},
            </if>
            <if test="orgAddress != null and orgAddress !=''">
                #{orgAddress,jdbcType=VARCHAR},
            </if>
            <if test="policyFiles != null and policyFiles !=''">
                #{policyFiles,jdbcType=VARCHAR},
            </if>
            <if test="subOrgFiles != null and subOrgFiles !=''">
                #{subOrgFiles,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password !=''">
                #{password,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateById">
        UPDATE t_organization
        <trim prefix="set" prefixOverrides=",">
            <if test="orgAddress!=null">,orgAddress = #{orgAddress}</if>
            <if test="frozenEndDate!=null">,frozenEndDate = #{frozenEndDate}</if>
            <if test="frozenBeginDate!=null">,frozenBeginDate = #{frozenBeginDate}</if>
            <if test="freeFrozenTag!=null">,freeFrozenTag = #{freeFrozenTag}</if>
            <if test="isSupportNotRealName!=null">,isSupportNotRealName = #{isSupportNotRealName}</if>
            <if test="renewStatus!=null">,renewStatus = #{renewStatus}</if>
            <if test="status!=null">,status = #{status}</if>
            <if test="updateTime!=null">,updateTime = #{updateTime}</if>
            <if test="updateUser!=null">,updateUser = #{updateUser}</if>
            <if test="signValidDate!=null">,signValidDate = #{signValidDate}</if>
            <if test="signScale!=null">,signScale = #{signScale}</if>
            <if test="isSign!=null">,isSign = #{isSign}</if>
            <if test="auditStatus!=null">,auditStatus = #{auditStatus}</if>
            <if test="refundScale!=null">,refundScale = #{refundScale}</if>
            <if test="type!=null">,type = #{type}</if>
            <if test="regName!=null and regName !=''">,regName = #{regName}</if>
            <if test="contactName!=null and contactName !=''">,contactName = #{contactName}</if>
            <if test="contactFile!=null and contactFile !=''">,contactFile = #{contactFile}</if>
            <if test="phone!=null and phone !=''">,phone = #{phone}</if>
            <if test="cardNo!=null and cardNo !=''">,cardNo = #{cardNo}</if>
            <if test="orgSub!=null and orgSub !=''">,orgSub = #{orgSub}</if>
            <if test="orgCode!=null and orgCode !=''">,orgCode = #{orgCode}</if>
            <if test="orgCodeFile!=null and orgCodeFile !=''">,orgCodeFile = #{orgCodeFile}</if>
            <if test="regCode!=null and regCode !=''">,regCode = #{regCode}</if>
            <if test="regCodeFile!=null and regCodeFile !=''">,regCodeFile = #{regCodeFile}</if>
            <if test="licenseFile!=null and licenseFile !=''">,licenseFile = #{licenseFile}</if>
            <if test="email!=null and email !=''">,email = #{email}</if>
            <if test="introFile!=null and introFile !=''">,introFile = #{introFile}</if>
            <if test="ip!=null and ip !=''">,ip = #{ip}</if>
            <if test="remark!=null and remark !=''">  ,remark = #{remark}</if>
            <if test="password!=null and password !=''">  ,password = #{password}</if>
        </trim>
        WHERE id=#{id}
    </update>
    <select id="findOrganizationById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_organization
        where id=#{id} and status=1 limit 1
    </select>
    <select id="findGroupByOrgCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_organization
        where orgCode = #{orgCode}
    </select>
    <select id="findGroupByOrgCodeAndUserType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_organization
        where orgCode = #{orgCode} and type = #{type}
    </select>
    <select id="findGroupByOrgCodeAndUserTypeAndUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_organization
        where orgCode = #{orgCode} and type = #{type} and id = #{id}
    </select>
    <select id="queryGroupNotice" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_organization
        where orgCode = #{orgCode}
        and auditTime = #{auditTime}
        and verifiedTime = #{verifiedTime}
        and status= #{status}and isDelete=0
    </select>
    <select id="findGroupById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_organization
        where id = #{userId}
    </select>



</mapper>